@media screen and (max-width: 1050px) {
    .catalog__inner {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .catalog__inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 560px) {
    .catalog__inner {
        gap: 10px;
    }
    .catalog-card {
        min-height: 390px;
    }
    .catalog-card__picture {
        height: 180px;
    }
}
@media screen and (max-width: 400px) {
    .catalog-card {
        min-height: 280px;
    }
    .catalog-card__picture {
        height: 120px;
    }
    .catalog-card__info {
        padding: 5px 10px 10px;
    }
    .catalog-card__name {
        margin-bottom: 8px;
    }
    .catalog-card__price {
        font-size: 1.5rem;
    }
}